@import "../../assets/global.scss";

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.2rem, 1fr));
  grid-gap: 1.2rem;
  margin-top: 1rem;
}

.rounded-image {
  border-radius: 0.5rem;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  height: 15rem;
  width: 13.2rem;
  border-radius: 0.5rem;
  background-color: $gris-tarjetas-fondo-infoCampos; /* Add this line to set the background color to red */
}

.image-wrapper img {
  width: 90%;
  height: 66.66%;
  object-fit: cover;
  margin-top: 5%;
}

.image-name {
  position: absolute;
  bottom: 1.5rem;
  left: 0.7rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  font-weight: bold;
  color: black;
  //text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
  pointer-events: none;
}