@import "../../assets/global.scss";


.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.2rem, 1fr));
  grid-gap: 1.2rem;
  margin-top: 1rem;
  padding-left: 5%;
}

.rounded-image {
  border-radius: 0.5rem;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  height: 20rem;
  //height: max-content;
  width: 13.2rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  background-color: WHITE; /* Add this line to set the background color to red */
}
.image{
  // height: 15rem;
  // width: 13.2rem;
  display: flex;
}

.image img {
  width: 90%;
  height: 66.66%;
  object-fit: cover;
  margin-top: 5%;
}


.image-name {
  position: relative;
  bottom: 1.5rem;
  //left: 0.7rem;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  font-weight: bold;
  color: black;
  //text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
  pointer-events: none;
  word-break: break-all;
  display: flex;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;

}

.sin-campo-titulo{
  width: 90%;
  margin-bottom: 2rem;
}

.image-sin-campo-container{
  display: flex;
}
.image-sin-campo{
  height: 100%;
  width: 100%;
}

.agregar-campo-container-2{
  position: absolute;
  top: 15% !important;
  left: 15%;
  width: 70vw;
  margin: 1rem 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-color: #48BF84;
  border-style: solid;
  border-radius: 10px;

}


.no-campos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 3rem 0rem 3rem
}

h3{
  color: $main-green;
}
a{
   text-decoration: none;
}
