@import "../../assets/global.scss";

.botonesInicio {
    display: flex;
    align-items: flex;
    justify-content: flex;
    gap:0.19rem;
    column-gap: 1.4rem;
    bottom: 0;
    right: 0;
    margin: 2rem;
    white-space: nowrap;
  }


  // IMAGES

  .full-width-image{
    width: 100%; //100%
    height: 26rem;
    object-fit: cover;
    opacity: 0.6;
    //align-items: center;
    //justify-content: center;
  }

  .img-container{
    position: relative; 
    width: 100%; //100%
    min-width: 100rem;
    overflow: hidden;
    height: 26rem;
    margin-bottom: 2.6rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
  }

  .header-principal{
    width: 100%;
    //margin-top: 0%;
    background-color: white;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //position: fixed;
}

.image-text {
  position: absolute;
  //top: 0;
  //left: 0;
  //width: 100rem;
  //height: 25rem;
  //display: flex;
  //justify-content: center; 
  //align-items: center;
  //flex-direction: column; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  height: 25rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  color: white;
  font-family: "Inter", sans-serif;
}

.image-title{
  font-size: 4rem; 
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.image-text2{
  font-size: 2.7rem; 
  color: white;
  width: 40rem;
  font-family: "Inter", sans-serif;
}


// COLUMNS

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  max-width: 100rem;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2.6rem;
}

.flexbox-container > div {
	width: 30rem;
	padding: 0.78rem;
  background: #fff;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexbox-container > div:first-child {
	margin-right: 0.78rem;
}

.flexbox-container > div + div {
  border-left: 0.078rem solid #ccc;
  padding-left: 1.56rem;
}

// TEXTS
.green-title{
  color: $main-green;
  font-size: 3.12rem; 
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.gray-title{
  color: $gris-texto;
  width: 40rem;
  font-size: 2.6rem; 
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.text-home-principal{
  color: $gris-texto;
  width: 35rem;
  font-size: 1.56rem; 
  font-family: "Inter", sans-serif;
  margin: 0.19rem 0;
}

// GRAY BOX
.gray-square{
  width: 83.2rem; 
  height: 26rem; 
  margin: 0 auto;
  background-color: #eaf3ea; 
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
}

.small-img{
  width: 39rem; 
  justify-content: left;
  margin-left: 4rem;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}

// LEFT ALIGNED
.section-left-aligned{
  width: 100rem; 
  //margin: 0.38rem auto;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  justify-content: space-between;
}

.small-img2{
  width: 30rem; 
  //justify-content: left;
  margin-left: 5rem;
}

.left{
  text-align: left;
  align-items: center;
}

.icon-reason {
  display: flex;
  align-items: center;
}

.extra-reason {
  margin-left: 4rem;
}

.checks{
  margin-left: 1rem;
  font-weight: bold;
}

.photo-container {
  //float: right;
  flex: 1;
}

.flex-container {
  display: flex;
  align-items: center;
  //margin-top: 1rem;
}

// CONTACT US
.center{
  align-items: center;
  justify-content: center;
}

.text-home-2{
  color: $gris-texto;
  font-size: 1.5rem; 
  font-family: "Inter", sans-serif;
  margin: 0.19rem 0;
}

.contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin{
  margin-right: 4.5rem;
}

.footer{
  background-color: rgb(213, 238, 213);
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  min-width: 100rem;
}