@import '../../assets/global.scss';

.gradient-background {
  min-height: 100vh;
  height: 53rem;
  min-width: 80rem;
  background: linear-gradient(to bottom,$footer-light-green 50%, $background-green-dark 50%);
}
