@import '../../assets/global.scss';

.gradient-background {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to bottom,
    #{$verde-claro-iniciar-sesion},
    #{$verde-intermedio-iniciar-sesion},
    #{$verde-oscuro-iniciar-sesion});
}
