@import '../../assets/global.scss';

.gradient-background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom,
    #{$verde-claro-iniciar-sesion},
    #{$verde-intermedio-iniciar-sesion},
    #{$verde-oscuro-iniciar-sesion});
}
