@import "../../../assets/global.scss";

.footer {
    background-color: #85aa87;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

.footer-text{
  font-size: 15px; 
  font-family: "Inter", sans-serif; 
}