@import "../../../assets/global.scss";

.agregar-campo-container{
    border-color: $verde-principal;
    border-style: solid;
    align-content: center;
    margin: 15% 25%;
    border-radius: 10px;
}

.min-content{
  width: min-content;
}

.max-content{
  width: max-content;
}

.input {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 40rem;
  }



  .card{
    background-color: #F1FFFA;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26) ;
    border-radius: 10px;
    align-content: center;
    align-self: center;
}
  
