@import "../../../assets/global.scss";

.agregar-campo-container{
    border-color: $verde-principal;
    border-style: solid;
    width: 50%;
    align-content: center;
    margin: 15% 25%;
    border-radius: 10px;
    width: 50vh;
}


.input {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 40rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
/*
  .input input {
    font: inherit;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #24472b;
  }

*/  