@import '../../assets/global.scss';

.green-text {
    font-size: 1.3rem; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $main-dark-green;
    font-weight: bold;
}

.green-text:hover {
    font-size: 1.3rem; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $verde-texto;
    text-decoration: underline;
    cursor: pointer;
}

.texto-normal{
    font-size: 1.3rem; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $gris-texto;
}

.registrate{
    font-size: 1.3rem; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $gris-texto;
    font-weight: bold;
}

.registrate:hover{
    font-size: 1.3rem; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $gris-texto;
    text-decoration: underline;
    cursor: pointer;
}

.espacio{
    margin-top: 1rem;
}

.espacio2{
    margin-top: 0.5rem;
}

.espacio3{
    margin-top: 2rem;
}

// COLUMNS

.flexbox-container2 {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 2.2rem;
}

.flexbox-container2 > div {
  width: 50%;
  padding: 0.7rem;
  text-align: center; 
  justify-content: center;
  padding-top: 2.6rem;
}

.flexbox-container2 > div:first-child {
	margin-right: 0.7rem;
}

.flexbox-container2 > div + div {
  border-left: 0.2rem solid #ccc;
  padding-left: 1.5rem;
}

.agroia2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.agroia2:hover{
    cursor: pointer;
}

.center{
    align-items: center;
    justify-content: center;
}

.title-inicio{
    font-size: 1.5rem !important; 
    font-family: "Inter", sans-serif !important; 
    text-align: center !important;
    color: $gris-texto;
    width: auto;
}

.title-inicio2{
    font-size: 2.5rem !important; 
    font-family: "Inter", sans-serif !important;  
    text-align: center;
    color: $gris-texto;
    font-weight: bold;
    margin-top: 2rem;
}

.header-title{
    color: #464E47 !important;
    /* margin-left: 1%; */
    margin: 0%; 
    width: auto;
    margin-left: 0.5rem  !important ;
    margin-bottom: 0 !important;
    font-size: 4vh !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
