@import "../../assets/global.scss";

.agregar-campo-titulo {
  color: $verde-musgo;
  width: 80%;
  margin: 2% 0% 0% 3%;
  text-align: left;
  font-size: xx-large;
}

.foto {
  background-color: $verde-clarito;
  text-align: center;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  width: 50vw;
  height: 60vh;
  margin-left: 4%;
}

.tarjetas {
  display: flex; 
  align-items: flex-start;
}

.botones {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap:10px;
  column-gap: 2vh;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5vh;
}



