@import "../../assets/global.scss";

.agregar-campo-titulo {
  color: $verde-musgo;
  width: 80%;
  margin: 1% 0% 0% 2%;
  text-align: left;
  font-size: xx-large;
}

.campo {
  //background-color: $verde-clarito;
  text-align: center;
  //border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  width: 100%;
  height: 60vh;
  //margin-left: 2%;
  padding: 1rem;
}

.tarjetas {
  display: flex; 
  align-items: flex-start;
}

.botones {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap:10px;
  column-gap: 2vh;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5vh;
}


.upload-image-container{
  border: dashed;
  border-color: gray;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 100%;
  background-color: $verde-clarito;
  border-radius: 10px;

 span{
  font-size: 2vh;
  padding: 1rem;
  color: gray;
 }

 :hover{
  cursor: pointer;
 }

}

.drop_area{
  width: 100%;
  display: flex;
}

// .ejTjHV{
//   position: absolute;
// }


