.image-container-mini {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  max-height: calc(100vh - 112px);
  height: calc(100vh - 112px);
  overflow-y: auto;
}

.rounded-image-mini {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.image-container-mini img {
  width: 97%; /* Las imágenes ocuparán todo el ancho disponible en el contenedor */
  height: 97%; /* Las imágenes ocuparán todo el alto disponible en el contenedor */
  object-fit: fill; /* Las imágenes se estirarán y deformarán para llenar el espacio disponible */
}

.image-wrapper-mini {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.image-wrapper-mini img { 
  width: 97%; /* Las imágenes ocuparán todo el ancho disponible en el contenedor */
  height: 97%; /* Las imágenes ocuparán todo el alto disponible en el contenedor */
  object-fit: fill;
}

.text-name {
  position: absolute;
  bottom: 2vh;
  left: 2vh; /* Ajusta el valor de 'left' según tu preferencia */
  font-size: 5vh;
  color: black;
  font-weight: normal;
  padding: 5px;
  border-radius: 5px;
  text-shadow: -0.25vh -0.25vh 0 white, 0.25vh -0.25vh 0 white, -0.25vh 0.25vh 0 white, 0.25vh 0.25vh 0 white;
  pointer-events: none;
}