@import '../../../assets/global.scss';

.green-button {
    background-color: $verde-oscuro;
    border: solid;
    border-color: $verde-oscuro;
    color: white;
    margin: 0.5%;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  }

  .green-button:hover{
    background-color: $verde-principal;
  }

  .cancelar{
    background-color: white !important;
    color: $verde-oscuro !important;
  }

  .cancelar:hover{
    background-color: $verde-principal !important;
    color: white  !important;
    border-style: $verde-principal !important;
  }

  .button-text {
  display: block;
  text-align: center;
  line-height: 1.2;
}


//BOTON DEL ERROR
.button {
    font: inherit;
    border: 1px solid #439775;
    background: #439775;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
  }
  
  .button:hover,
  .button:active {
    background: #439775;
    border-color: #439775;
  }
  
  .button:focus {
    outline: none;
  }


