@import '../../../assets/global.scss';

.green-button {
    background-color: $verde-oscuro;
    color: white;
    margin: 0.07rem;
    margin-top: 0.2rem;
    padding: 0.6rem 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.4rem;
    border: solid;
    border-style: 1px $main-green; 
    font-family: "Inter", sans-serif;
    
  }

  .mas-button{
    width: 90%;
  }

  .green-button:hover{
    background-color: $verde-principal;
  }

  .cancelar{
    background-color: white !important;
    color: $main-green !important;
  }

  .cancelar:hover{
    background-color: $main-green !important;
    color: white  !important;
  }

  .cancelar-lleno{
    background-color: white !important;
    color: $main-green !important;
    border-style: 1px $main-green;
  }

  .cancelar-lleno:hover{
    background-color: $main-green !important;
    color: white !important;
    border-style: 5px $main-green;
  }

  .button-text {
  display: block;
  text-align: center;
  line-height: 1.2;
}


//BOTON DEL ERROR
.button {
    font: inherit;
    border: 2px solid $main-green;
    background: $main-green;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  
  .button:hover,
  .button:active {
    background: white;
    border-color: $main-green;
    color: $main-green;
  }
  
  .button:focus {
    outline: none;
  }


