@import '../../../assets/global.scss';


.sub-rectangle {
    height: 3.2rem;
    width: 26rem;
    background-color: #F1FFFA;
    margin-bottom: 3rem;
    border-radius: 1.5vh;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
    border: 0.2vh #8B8B8B;
    color: $gris-titulo;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    border-color: #c1c1c1;
    border-style: solid ;
    padding-left: 2%;
  }

  .agregar-campo-input{
    max-width: 45vw ;
    min-width: 1vw;
    width: min-content;
    align-items: end;
  }
.sub-rectangle-red {
  height: 3rem;
  width: 26rem;
  background-color: #fff5f1;
  margin-bottom: 3.2rem;
  border-radius: 1.5vh;
  box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.2);
  border: 0.3vh solid red;
  color: $gris-titulo;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-color: red;
  border-style: solid;
  padding-left: 2%;
}

.password-message {
    position: absolute;
    bottom: 8.5rem; // Adjust this value to control the distance from the input
    left: 40rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif; 
}

.password-message-mini {
    position: absolute;
    bottom: 9.4rem; // Adjust this value to control the distance from the input
    left: 7.8rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 1rem;
    font-family: "Inter", sans-serif; 
}

.password-message-init-sesion {
    position: absolute;
    bottom: 14rem; // Adjust this value to control the distance from the input
    left: 40rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 1rem;
    font-family: "Inter", sans-serif; 
}

.password-message-mail {
    position: absolute;
    bottom: 20.5rem; // Adjust this value to control the distance from the input
    left: 40rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 1rem;
    font-family: "Inter", sans-serif; 
}

.mostrar-ocultar {
  position: absolute;
  top: 26.5rem;
  right: 4.5rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}

.mostrar-ocultar-edit-perfil {
  position: absolute;
  top: 25.5rem;
  right: 4.5rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}

.mostrar-ocultar-mini {
  position: absolute;
  top: 8.9rem;
  right: 5.5rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}

.mostrar-ocultar-init-sesion {
  position: absolute;
  top: 17.5rem;
  right: 4.5rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}


  /*
  .sub-rectangle-first {
    height: 45px;
    width: 45vh;
    background-color:$verde-claro-iniciar-sesion;
    margin-bottom: 30px;
    margin-top: 100px; //Separación del primer sub-rectangle 
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
*/