@import '../../../assets/global.scss';


.sub-rectangle {
    height: 5vh;
    width: 45vh;
    background-color: #F1FFFA;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px #8B8B8B;
    color: $gris-titulo;
    font-size: 2vh;
    font-family: "Inter", sans-serif;
    border-color: #c1c1c1;
    border-style: solid ;
    padding-left: 2%;
  }

  .agregar-campo-input{
    max-width: 45vw ;
    min-width: 1vw;
    width: min-content;
    align-items: end;
  }

  /*
  .sub-rectangle-first {
    height: 45px;
    width: 45vh;
    background-color:$verde-claro-iniciar-sesion;
    margin-bottom: 30px;
    margin-top: 100px; //Separación del primer sub-rectangle 
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
*/