@import '../../../assets/global.scss';


.sub-rectangle {
    height: 3.2rem;
    width: 26rem;
    background-color: $inputbox-background-gray;
    margin-bottom: 2rem;
    border-radius: 1.5vh;
    //box-shadow: 0.5vh 0.5vh 1vh $black-shadows;
    border: 0.2vh $inputbox-border-gray;
    color: $gris-titulo;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    border-color: $inputbox-border2-gray;
    border-style: solid ;
    padding-left: 2%;
  }

  .agregar-campo-input{
    max-width: 45vw ;
    min-width: 1vw;
    width: min-content;
    align-items: end;
  }
.sub-rectangle-red {
  height: 3rem;
  width: 26rem;
  background-color: $inputbox-background-red;
  margin-bottom: 3.2rem;
  border-radius: 1.5vh;
  //box-shadow: 1vh 1vh 1vh $black-shadows;
  border: 0.3vh solid red;
  color: $gris-titulo;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  border-color: red;
  border-style: solid;
  padding-left: 2%;
}

.password-message {
    position: absolute;
    bottom: 8.5rem; // Adjust this value to control the distance from the input
    left: 40rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif; 
}

.password-message-mini {
    position: absolute;
    bottom: 10.7rem; // Adjust this value to control the distance from the input
    left: 5.6rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif; 
}

.password-message-init-sesion {
    position: absolute;
    bottom: 14rem; // Adjust this value to control the distance from the input
    left: 40rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 1rem;
    font-family: "Inter", sans-serif; 
}

.password-message-mail {
    position: absolute;
    bottom: 20.5rem; // Adjust this value to control the distance from the input
    left: 40rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 1rem;
    font-family: "Inter", sans-serif; 
}

.password-message-olvido-contra {
    position: absolute;
    bottom: 8rem; // Adjust this value to control the distance from the input
    left: 12.4rem; // Adjust this value to move the message to the right
    color: red;
    font-size: 1rem;
    font-family: "Inter", sans-serif; 
}

.mostrar-ocultar {
  position: absolute;
  top: 24rem;
  right: 4.5rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}

.mostrar-ocultar-edit-perfil {
  position: absolute;
  bottom: 9.5rem;
  left: 27.6rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}

.mostrar-ocultar-mini {
  position: absolute;
  top: 15.6rem;
  right: 6rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
  color: $eye-gray;
  font-size: 1.56rem;
}

.mostrar-ocultar-init-sesion {
  position: absolute;
  top: 17rem;
  right: 4.5rem;
  transform: translateY(-0.9rem);
  cursor: pointer;
}


  /*
  .sub-rectangle-first {
    height: 45px;
    width: 45vh;
    background-color:$verde-claro-iniciar-sesion;
    margin-bottom: 30px;
    margin-top: 100px; //Separación del primer sub-rectangle 
    border-radius: 10px;
    box-shadow: 5px 5px 5px $black-shadows;
}
*/