@import '../../../assets/global.scss';

.backdrop {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    z-index: 10 !important;
    background: rgba(0, 0, 0, 0.75) !important;
  }
  
.agro-modal {
    position: fixed !important;
    top: 30vh !important;
    left: 0 !important;
    right: 0 !important;
    width: 50% !important;
    margin: 0 auto !important;
    z-index: 100 !important;
    overflow: hidden !important;
}
  .header-error {
    background: $main-green !important; 
     display: flex;
    justify-content: center; /* Horizontal centering */
    height: 4rem;
  }
  
  .header-error h2 {
    color: white !important;
    text-align: center;
    margin: auto;

  }
  .modal-message{
    font-size: 2rem;
    margin-left: 1rem;
  }


  .modal-image{
    width: 12%;
  }
  
  .content {
    font-size: 2vh;
    justify-content: center;
    margin-top: 1rem;
    
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem) !important;
      width: 40rem !important;
    }
  }