.card-img-top{
    width: 100%;
    height: 20rem;
    //margin: 0.5rem;
}



.card-container{
    margin: 1rem;
    /* width: 18rem; */
    text-align: initial;
    //width: max-content;
    height: max-content;
}


.card-home:hover{
    background-color: #c2c0c0;
    cursor: pointer;
}

.card-footer{
    border-color: white;
    background-color: white;
    align-content: end;
    display: inline-flex;
    justify-content: flex-end;
}

@media (min-width: 1000px) and  (max-width: 1200px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 33% !important;
}



}

@media (min-width: 400px) and (max-width: 1000px)
{.col-lg-3 {
    flex: 0 0 auto;
    width: 50% !important;
}

.card-container{
    margin: 1rem;
}
}

@media (max-width: 400px) {
.col-lg-3 {
    flex: 0 0 auto;
    width: 100% !important;
}
    .card-container{
        margin:  0 5rem  0 5rem;
    }
}

.row{
  justify-content: center;
  margin-top: 1rem;
}