@import "../../../assets/global.scss";

.header-container{
    width: 100%;
    margin-top: 0%;
    @include alignHorizontally;
    // position: sticky !important;
    display: block;
}


header{
    width: 100%;
    margin-top: 0%;
    background-color: $verde-principal;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agroIa{
    @include alignHorizontally;
}

.agroIa:hover{
    cursor: pointer;
}

h1{
    color: $verde-musgo;
    margin-left: 1%;
    width: 10%;
    margin: 0%; 
}

.user{
    margin-right: 1%;
    @include alignHorizontally;
}

@media screen and (max-width:62em) {

  h1{
    font-size: 4vh;
  }
}


