@import '../../../assets/global.scss';


.green-rectangle {
    background-color: $verde-principal;
    height: 5.8rem; /* Ajusta el tamaño vertical */
    width: 18rem; /* Ajusta el tamaño horizontal */
    margin: 0 auto; /* Centra horizontalmente */
    position: absolute;
    top: 3rem; /* Ajusta la distancia con el rectángulo blanco */
    left: 0;
    right: 0;
    border-radius: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }

  .text {
    font-size: 2.7rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #333;
    //transform: translateX(35px);
  }