
//COLORES 

$verde-principal: #48BF84;
$verde-clarito: #F1FFFA;
$verde-oscuro: #439775; 
$verde-secundario: #61D095;
$verde-musgo: #464E47;
$verde-texto: #568259;
$celeste-link: #0085FF;
$gris-texto: #535353;
$gris-titulo: #464E47;
$gris-input-to-fill: #888;
$black-shadows: rgba(0, 0, 0, 0.2);

$main-green: #2a7d2e;
$main-dark-green: #124a2f;


//degradado 
$verde-claro-iniciar-sesion: #CCFCCB;
$verde-intermedio-iniciar-sesion: #96E6B3;
$verde-oscuro-iniciar-sesion: $verde-oscuro;


@mixin alignHorizontally{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}