@import '../../assets/global.scss';

.green-text {
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $verde-texto;
}

.green-text:hover {
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $verde-texto;
    text-decoration: underline;
    cursor: pointer;
}

.texto-normal{
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $gris-texto;
}

.registrate{
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $celeste-link;
}

.registrate:hover{
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $celeste-link;
    text-decoration: underline;
    cursor: pointer;
}