@import '../../../assets/global.scss';


.white-rectangle {
    background-color: white;
    height: 40rem;
    width: 35rem;
    margin: auto;
    position: absolute;
    top: 11.7rem;
    left: 0;
    right: 0;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.2);
  }

  .container-text {
    font-size: 2.3rem; 
    font-family: "Inter", sans-serif; 
    text-align: center;
    color: $gris-titulo; 
    //position: absolute;
    top: 2rem; 
    left: 0;
    right: 0;
    margin-bottom: 2.4rem;
    margin-top: 1.7rem;
  }

  .invisible-white-rectangle {
    background-color: white;
    height: 40rem;
    width: 35rem;
    margin: auto;
    position: absolute;
    top: 11.7rem;
    left: 0;
    right: 0;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
  }

  .small-white-rectangle {
    background-color: white;
    height: 22rem;
    width: 37rem;
    margin: auto;
    position: absolute;
    top: 11.7rem;
    left: 0;
    right: 0;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
  }  

  .sub-rectangle-overlay{
    position: absolute;
  top: 13.75rem;
  left: 28.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #F1FFFA;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

    .sub-rectangle-overlay-red{
    position: absolute;
  top: 13.75rem;
  left: 28.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff5f1;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

    .sub-rectangle-regist-overlay{
    position: absolute;
  top: 26.75rem;
  left: 28.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #F1FFFA;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

    .sub-rectangle-overlay-regist-red{
    position: absolute;
  top: 23.75rem;
  left: 28.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff5f1;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

      .sub-rectangle-edit-overlay{
    position: absolute;
  top: 23.75rem;
  left: 28.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #F1FFFA;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

    .sub-rectangle-overlay-edit-red{
    position: absolute;
  top: 26.75rem;
  left: 28.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff5f1;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

      .sub-rectangle-recupContra-overlay{
    position: absolute;
  top: 7.2rem;
  left: 29.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #F1FFFA;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #F1FFFA;
  }

    .sub-rectangle-overlay-recupContra-red{
    position: absolute;
  top: 7.2rem;
  left: 29.35rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff5f1;
    margin-bottom: 3rem;
    border-radius: 2vh;
    border: 0vh #fff5f1;
  }